
.bgc(@a:255,@b:255,@c:255,@d:1){
  background-color:rgba(@a,@b,@c,@d);
}

.bg(@url,@x:center,@y:center){
  background:data-uri('../images/@{url}') no-repeat @x @y;
}

.flex(){
  display:flex;
  display:-webkit-flex;
}


@r:50rem;
.padding(@tbril){
  padding:@tbril/@r;
}
.padding(@tb,@ril){
  padding:@tb/@r @ril/@r;
}
.padding(@t,@ri,@b){
  padding:@t/@r @ri/@r @b/@r;
}
.padding(@t,@ri,@b,@l){
  padding:@t/@r @ri/@r @b/@r @l/@r;
}